@model ETPMS.Application.DTOs.PasswordChangeDto
<div class="k-content" id="changePassword" style="padding-top:48px;">
    <style type="text/css">
        #changePassword .primary {
            color: red;
            line-height: 24px;
            vertical-align: middle;
            padding-left: 4px;
        }
    </style>
    <div class="col-sm-3"></div>
    <div class="col-sm-8">
        <form id="formChange">
            <ul class="pf-fieldlist">
                <li>
                    @Html.LabelFor(model => Model.UserCode, "用户编码")
                    @Html.TextBoxFor(model => model.UserCode, new { @class = "k-textbox", @placeholder = "用户编码...", @readonly = "readonly" })
                </li>
                <li>
                    @Html.LabelFor(model => Model.OriginalPassword, "原密码", new { @style = "padding-left:1em;" })
                    @Html.PasswordFor(model => model.OriginalPassword, new { @class = "k-textbox", @placeholder = "请输入原密码..." })<span class="primary">*</span>
                </li>
                <li>
                    @Html.LabelFor(model => Model.NewPassword, "新密码", new { @style = "padding-left:1em;" })
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "k-textbox", @placeholder = "请输入新密码..." })<span class="primary">*</span>
                </li>
                <li>
                    @Html.LabelFor(model => Model.ConfirmPassword, "确认密码")
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "k-textbox", @placeholder = "请再次输入新密码..." })<span class="primary">*</span>
                </li>
                <li><button class="k-button k-primary " id="btnSave" style="width:64px;margin-left:278px;">保存</button></li>
            </ul>
        </form>
    </div>
    <script type="text/javascript">
        var $changePasswordContainer = $("#changePassword");
        $(document).ready(function () {
            $changePasswordContainer.find("#btnSave").click(function () {
                if ($changePasswordContainer.find("#OriginalPassword").val() == '') {
                    $notification.showInfo("原始密码不能为空~");
                } else if ($changePasswordContainer.find("#NewPassword").val() == '') {
                    $notification.showInfo("新密码不能为空~");
                } else if ($changePasswordContainer.find("#ConfirmPassword").val() == '') {
                    $notification.showInfo("确认密码不能为空~");
                } else {
                    var passwordDto = $changePasswordContainer.find("#formChange").serializeArray();
                    $.post("/User/ChangePassword", passwordDto, function (response) {
                        if (response) {
                            if (response.ResultType === 1) {
                                $notification.showSuccess(response.Message);
                                setTimeout("javascript:location.href='@Url.Action("Login","Home")'", 2000);
                            } else {
                                $notification.showInfo(response.Message);
                            }
                        } else {
                            $notification.showError("修改密码失败，请刷新页面后再试~");
                        }
                    });
                }
                return false;
            });
        });

    </script>
</div>
